.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.title{
    display: none;
}
.nav{
    margin: 0 auto;
    text-align: center;
    width: 1120px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    border-bottom: 1px dotted #ccc;
}
.nav .logo{
    position: absolute;
    left: 115px;
    width: 43px;
}
.nav a{
    /* color: #ccc; */
    margin: 0 15px;
}
/* .nav a.active{
    color: #000;
} */
/* .nav a:hover{
    color: #000;
} */
/* .container{
    width: 1120px;
} */
.sign{
    width: 1120px;
    margin: 0 auto;
    line-height: 2em;
}
.sign h2{
    font-size: 30px;
}
.sign .fuhao{
    border: 1px dotted #ccc;
}
.container {
    width: 1120px;
    margin: 0 auto;
    line-height: 1.5;
}
.container .mylove-music{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
}
.container .play-music iframe{
    width: 1120px;
    height: 300px;
}
.container .mylove-music .music{
    float: left;
    margin-right: 48px;
    margin-bottom: 15px;
}
.container .mylove-music .music:nth-child(5n){
    /* border: 3px solid; */
    margin-right: 0;
}
.container h3{
    margin-top: 15px;
    font-size: 60px;
    margin-bottom: 15px;
}
.container .mylove-music .song-title{
    font-size: 23px;
    width: 185px;
    overflow: hidden;
    white-space: nowrap;	/*规定文本不进行换行*/
    text-overflow: ellipsis; /*当对象内文本溢出时显示省略标记（...）*/
}
.container .mylove-music .singer{
    color: #666;
}
.container .mylove-music .special-issue img{
    width: 185px;
    height: 185px;
}
